.mainSection {
  width:540px;
  height: 450px;
  background-color: #fbc9f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
 margin: 0 auto;
 margin-top: 50px;
  box-shadow: 0 3px 60px rgba(57, 73, 76, 0.35);
  padding: 0 15px;


}
.mainHeading{
    font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        color: #000000;
        margin: 0 auto;
        margin-top: 29px;
}
.mainParagraph{
font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 35px;

}

.sectionHeading{
font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #dec9ae;
  margin: 0 auto;
  margin-top: 29px;
}